# MariaDB
MARIADB_ROOT_PASSWORD=CHANGEME_ROOT_PASSWORD
MARIADB_PASSWORD=CHANGEME_DB_PASSWORD

# Flarum Admin (wird beim Setup-Wizard verwendet)
FLARUM_ADMIN_USER=admin
FLARUM_ADMIN_PASSWORD=CHANGEME_ADMIN_PASSWORD
FLARUM_ADMIN_EMAIL=admin@freespawn.de

# Forum-Konfiguration (wird im Setup-Wizard eingetragen)
FORUM_TITLE="FreeSpawn Community"
FORUM_BASE_URL=https://freespawn.de
